<div class="container">
            <div class="content">
                <div class="about_user">
                    <div class="name">
                        <p>Имя: </p>
                        <p>{{firstname}}</p>
                    </div>
                    <div class="name">
                        <p>Фамилия: </p>
                        <p>{{lastname}}</p>
                    </div>
                    <div class="name">
                        <p>Имя пользователя:</p>
                        <p>{{username}}</p>
                    </div>
                    
                </div>
        
                <div class="form_wrapper">
                    <p>Отправленные формы:</p>
                    <div class="forms">
        
                    </div>
                </div>
            </div>
        </div>