<header class="header" >
    <div class="header__container">
        <a href="index.html" class="header__logo">ashar</a>
        <div class="header__menu menu">
            <div class="menu__icon">
                <span></span>
            </div>
        </div>
        <nav class="menu__body">
            <ul class="menu__list">
                <li><a data-goto="" href="../../index.html" class="menu__link">Главная</a></li>

                <li><a data-goto=".content__h1.movies" href="../../kino.html" class="menu__link">Театр и кино</a></li>
                <li><a data-goto=" " href="../../gallery.html" class="menu__link">Галерея</a></li>
                <li><a data-goto=" " href="../../addActor.html" class="menu__link">Добавить актера</a></li>
                <li><a data-goto=" " href="../../discussion.html" class="menu__link">Обсуждение</a></li>
                <li><a data-goto=" " href="../../login.html" class="menu__link">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>